* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: url('bg.svg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

.counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 80px;
}

button {
    outline: none;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
    background: #e63946;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all .3s ease;
    font-size: 23px;
}

.title {
    font-size: 80spx;
    padding: 20px 0;
    color: #333;
    pointer-events: none;
}

button:hover{
    transform: scale(.95);

}
.button{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}
.incriment{
    margin-right: 20px;
}


@media screen and (max-width: 500px) {
    .counter {
        width: 300px;
        font-size: 50px;
    }
    button {
        font-size: 19px;
    }
}